@{
    ViewData["Title"] = "Contact Information";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Jacob Radcliffe <br />
    4178 N. Clarendon Apt. 3S <br />
    Chicago, IL 60613 <br />
</address>

<address>
    <abbr title="Phone">P:</abbr> 425.555.0100 <br />
    <abbr title="Email">E:</abbr> <a href="mailto:jacobradcliffe2012@gmail.com">jacobradcliffe2012@gmail.com</a><br/>
</address>
